<br>
<span *ngIf="showDashboard">



    <div class="nes-container is-rounded dashboard">

        <span class="row">
            <span class="col-10">
                <h1><img *ngIf="player.avatar_yt"  width="128px" [src]="player.avatar_yt"> <span style="color:#000"> {{player.alias}} </span></h1>
            </span>
            <span class="col-2">
                <button type="button" class="nes-btn is-error" (click)="logout()">Cerrar Sesión</button>
            </span>
            <span class="col-6">
                <div class="nes-field">
                    <label for="name_field">Nombre Player</label>
                    <input type="text" id="Nombre" [(ngModel)]="player.name" class="nes-input">
                </div>
                <div class="nes-field">

                    <p class="nes-balloon from-left nes-pointer">

                        <input type="text" id="Frase" [(ngModel)]="player.reference_text" class="nes-input">
                        <br>
                        La frase de recomendación, es un codigo que puedes compartir con alguien que quieres que se una
                        la comunidad, asi como <strong>{{player.user_ref}}</strong>, te recomendó.
                    </p>
                    <label for="name_field">Frase de recomendación</label>
                </div>
                <div class="nes-field">
                    <label for="name_field">Sobre mi..</label>
                    <textarea id="Sobre" rows="10" [(ngModel)]="player.about_me" class="nes-input"></textarea>
                </div>
                <div class="nes-field">

                    <section>
                        <button type="button" class="nes-btn is-primary"
                            onclick="document.getElementById('dialog-rounded').showModal();">
                            Cambiar Contraseña
                        </button>
                        <dialog class="nes-dialog is-rounded" id="dialog-rounded">
                            <form method="dialog">
                                <p class="title">Cambiar contraseña</p>

                                <div class="nes-field">
                                    <label for="name_field">Actual</label>
                                    <input type="password" id="Actual" [(ngModel)]="changePassword.password"
                                        class="nes-input">
                                </div>
                                <div class="nes-field">
                                    <label for="name_field">Nueva</label>
                                    <input type="password" id="Nueva" [(ngModel)]="changePassword.password_new"
                                        class="nes-input">
                                </div>
                                <div class="nes-field">
                                    <label for="name_field">Repetir Nueva</label>
                                    <input type="password" id="Repetir"
                                        [(ngModel)]="changePassword.password_confirm_new" class="nes-input">
                                </div>

                                <menu class="dialog-menu">
                                    <button class="nes-btn">Cancelar</button>
                                    <button class="nes-btn is-primary" (click)="doChangePassword()">Cambiar</button>
                                </menu>
                            </form>
                        </dialog>
                    </section>
                    <button class="nes-btn  is-success" (click)="saveProfile()">Guardar cambios</button>
                </div>
            </span>
            <span class="col-6">
                <div class="nes-field">
                    <div class="nes-table-responsive">
                        Debe ingresar la URL completa de su RRSS 
                        <table class="nes-table is-bordered is-centered">
                            <thead>
                                <tr>
                                    <th colspan="2">RRSS</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td> <i class="nes-icon gmail is-large"></i> </td>

                                    <td> <input  type="text" style="font-size: 12px;" id="email" alias="Correo" [(ngModel)]="rrss_player.email"
                                            class="nes-input"> 
                                            
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td> <i class="nes-icon youtube is-large"></i> </td>
                                    <td> <input type="text" style="font-size: 12px;" id="youtube" [(ngModel)]="rrss_player.youtube"
                                            class="nes-input"><a *ngIf="rrss_player.youtube"
                                            [href]="rrss_player.youtube" target="_blank">ir..</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <i class="nes-icon twitch is-large"></i> </td>
                                    <td> <input type="text" style="font-size: 12px;" id="twitch" [(ngModel)]="rrss_player.twitch"
                                            class="nes-input"><a *ngIf="rrss_player.twitch" [href]="rrss_player.twitch"
                                            target="_blank">ir..</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <i class="nes-icon twitter is-large"></i> </td>
                                    <td> <input type="text" style="font-size: 12px;" id="twitter" [(ngModel)]="rrss_player.twitter"
                                            class="nes-input"><a *ngIf="rrss_player.twitter"
                                            [href]="rrss_player.twitter" target="_blank">ir..</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <i class="nes-icon instagram is-large"></i> </td>
                                    <td> <input type="text" style="font-size: 12px;" id="instagram" [(ngModel)]="rrss_player.instagram"
                                            class="nes-input"><a *ngIf="rrss_player.instagram"
                                            [href]="rrss_player.instagram" target="_blank">ir..</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <i class="nes-icon reddit is-large"></i> </td>
                                    <td> <input type="text" style="font-size: 12px;" id="reddit" [(ngModel)]="rrss_player.reddit"
                                            class="nes-input"><a *ngIf="rrss_player.reddit" [href]="rrss_player.reddit"
                                            target="_blank">ir..</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <i class="nes-icon coin is-large"></i> </td>
                                    <td> 
                                        <img height="0px" width="600px">
                                        <input type="text" style="font-size: 12px;" id="other" alias="Otra red social o pagina"
                                            [(ngModel)]="rrss_player.other"
                                            class="nes-input"><a [href]="rrss_player.other" target="_blank">ir..</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </span>
        </span>

    </div>
</span>