<span class="row">
  <span class="col-12">
    <br>
  </span>
    <span class="col-1">
    </span>
    <span class="col-10">
          
      <div class="nes-container is-rounded" style="width: 40%; min-width: 100px;">
        <div class="nes-field">
          <label for="alias_field" style="color: yellow;">Usuario</label>
          <input type="text" name="alias" id="alias_field" [(ngModel)]="alias" class="nes-input">
        </div>
        
        <div class="nes-field">
          <label for="password_field"  style="color: yellow;">Clave</label>
          <input type="password" name="password" id="password_field" [(ngModel)]="password" class="nes-input">
        </div>
        
        <button class="nes-btn" (click)="login()">Continue..</button>                
        <button class="nes-btn" (click)="newPlayer()">New Player</button>
      </div>
      
    </span>
    <span class="col-1">
    </span>
</span>
