<span class="main-content">

    <section class="coreteam">
        <h3 class="topic-title"><i class="nes-icon star"></i> Comunidad</h3>
        <p>Nuestro grupo!!</p>
        <section class="topic">
            <div class="coreteam-members">
                <span class="row">
                    <section class="nes-container is-dark member-card">

                        <div class="avatar"><img data-src="https://github.com/BcRikko.png?size=80"
                                alt="Core Member B.C.Rikko" class="" src="https://github.com/BcRikko.png?size=80"></div>
                        <div class="profile">
                            <h4 class="name">Viejo Rata</h4>
                            <p>Me gusta los juegos clasicos</p>
                            <div><a href="https://github.com/BcRikko" target="_blank" rel="noopener"
                                    aria-label="youtube"><i class="nes-icon youtube"></i></a> 
                                    <a
                                    href="https://twitter.com/bc_rikko" target="_blank" rel="noopener"
                                    aria-label="twitter"><i class="nes-icon twitch"></i></a>
                            </div>
                        </div>
                    </section>

                    <section class="nes-container is-dark member-card">
                        <div class="avatar"><img data-src="https://github.com/guastallaigor.png?size=80"
                                alt="Core Member Igor Guastalla" class=""
                                src="https://github.com/guastallaigor.png?size=80">
                        </div>
                        <div class="profile">
                            <h4 class="name">Goruta</h4>
                            <p>Nada superara al sega!!</p>
                            <div><a href="https://github.com/BcRikko" target="_blank" rel="noopener"
                                aria-label="youtube"><i class="nes-icon youtube"></i></a> 
                                <a
                                href="https://twitter.com/bc_rikko" target="_blank" rel="noopener"
                                aria-label="twitter"><i class="nes-icon twitch"></i></a></div>
                        </div>
                    </section>

                </span>
            </div>
        </section>
    </section>
</span>