<span class="main-content">

    <section class="coreteam">
        <h3 class="topic-title title_team"><i class="nes-icon star"></i> Comunidad</h3>

        <section class="topic">
            <div class="coreteam-members">
                <span class="row"><span class="col-3" *ngFor="let player of teams">
                        <section style="background-color:#000055;min-height:400px;min-width: 400px;max-width: 410px;" class="rpgui-container framed rpgui-draggable" *ngIf="player.RRSS!=null">

                            <div class="avatar"><img width="128px" class="rpgui-container framed-golden" [alt]="player.name"  style="image-rendering: pixelated;" 
                                    [src]="player.avatar_yt==''?'/assets/img/logo.jpg':player.avatar_yt"></div>

                            <div class="profile">
                                <h4 class="name neon" style="color: white;">{{player.name}}</h4>
                                <p style="width: 100%; min-height: 100px;max-height: 100px; overflow-y: scroll;">
                                   <small> {{player.about_me}}</small>
                                </p>
                                <span class="row">
                                    <span  *ngFor="let rrss of player.RRSS">
                                        <span *ngIf="rrss.URL!=''" class="col-2">

                                            <a *ngIf="rrss.type!='email'" [href]="rrss.URL" target="_blank"
                                                rel="noopener"><i
                                                    [class]="'nes-icon '+ (rrss.type=='other'?'coin':rrss.type)"></i></a>

                                            <a *ngIf="rrss.type=='email'" [title]="rrss.URL"
                                                [href]="'mailto:' + rrss.URL" rel="noopener"><i
                                                    class="nes-icon gmail"></i></a>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </section>

                    </span>
                </span>
            </div>
        </section>
    </section>
</span>