<header>
    <div class="wrapper">
      <a routerLink="/home"><img src="/assets/img/Titulo.png" class="header-title" height="132px" style="image-rendering: pixelated;"></a>
      <nav class="nav-brand">
        <a  routerLink="/home"><img src="/assets/img/x-BUSCADOR.png"  style="image-rendering: pixelated;"></a>
        <a  routerLink="/news"><img src="/assets/img/x-NOVEDADES.png"  style="image-rendering: pixelated;"></a>
        <a routerLink="/team"><img src="/assets/img/x-COMUNIDAD.png"  style="image-rendering: pixelated;"></a>
        <a  *ngIf="!online" routerLink="/login"><img src="/assets/img/x-LOGIN.png"  style="image-rendering: pixelated;"></a>
        <a  *ngIf="online" routerLink="/dashboard"><img src="/assets/img/x-PERFIL.png"  style="image-rendering: pixelated;"></a>
      </nav>
    </div>
  </header>