<header>
    <div class="wrapper">
      <h1>
   
        <span class="title" style="color:black">Comunidad Retro Game</span>
      </h1>
  
      <nav class="nav-brand">
        <a class="nes-btn is-primary" routerLink="/home">Bienvenido</a>
        <a class="nes-btn is-warning" routerLink="/news">Novedades</a>
        <a class="nes-btn is-primary" routerLink="/team">Comunidad</a>
        <a class="nes-btn is-primary" *ngIf="!online" routerLink="/login">Login / Registro</a>
        <a class="nes-btn is-success" *ngIf="online" routerLink="/dashboard">Mi Perfil</a>
      </nav>
    </div>
  </header>