<br>
<span class="row">
    <span class="col-xs-12 col-2"> </span>
    <span class="col-xs-12 col-8">
        <div class="rpgui-content">

            <div class="rpgui-container framed">
                <img src="/assets/img/make_event.png">
                <hr class="golden"/>

                <label>Titulo del Evento</label>
                <input type="text"  maxlength="256" name="title" [(ngModel)]="event.title" >
                <span class="row">
                    <span class="col-xs-12 col-3">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>¿Cuándo?</mat-label>
                            <input matInput [(ngModel)]="date" [matDatepicker]="picker2" (dateChange)="validateDate()">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </span>
                    <span class="col-xs-12 col-3">
                        <label>Horario aprox</label>
                        <input type="time" [(ngModel)]="time" name="time" (change)="combineDateTime()">
                    </span>
                    
                    <span class="col-xs-12 col-6">
                        <label>URL Youtube</label>
                        <input type="text"  maxlength="256" name="url" [(ngModel)]="url"  (input)="makeUrl()" >
                    </span>
                    <span class="col-xs-12 col-6">
                        <label>Descripcion</label>
                        <textarea style="min-height: 300px;" rows="60" cols="50" placeholder="De que trata el evento"  [(ngModel)]="event.content"  >

                        </textarea>
                    </span>
                    <span class="col-xs-12 col-6">
                        <iframe sandbox="allow-scripts allow-same-origin allow-presentation allow-popups" width="500" height="375" class="container"
                        [src]="event.url | safe" [title]="event.title" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; allow-presentation"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </span>

                </span>
                <span class="row">
                    <div class="col-xs-12 col-8"></div>
                    <div class="col-xs-12 col-4">

                        <button class="rpgui-button" type="button" (click)="makeEvent()" >
                            <br>CREAR EVENTO
                        </button>
                    </div>
                </span>


            </div>
        </div>
    </span>
    <span class="col-xs-12 col-2"> </span>
</span>