<div class="rpgui-content">

    <div class="rpgui-container framed " style="height:500px; width:60%; top: 50px; left: 50px;">
        <h1 class="big_title_retro">Crear Evento</h1>
        <hr />

        <label>URL Youtube</label>
        <input type="text" name="url"  placeholder="https://www.youtube.com/watch?v=iddqd">
        <span class="row">
            <span class="col-6">
                <label>Fecha</label>
                <input type="datetime-local" name="event" >
            </span>
            <span class="col-6">
                <label>URL Youtube</label>
                <input type="text" name="url"  placeholder="https://www.youtube.com/watch?v=iddqd">
            </span>
        </span>
        <span class="row">
            <span class="col-12">
                <label>Descripcion</label>
                <textarea rows="4" cols="50" placeholder="De que trata el evento"></textarea>
            </span>
            <div class="col-8"></div>
            <div class="col-4">

                <button class="rpgui-button golden" type="button" >
                    <p style="font-size: large;">Crear EVENTO</p>
                </button>
            </div>
        </span>


    </div>
</div>