<span *ngIf="!isLive">
    <div class="nes-container rpgui-container framed  is-dark with-title" style="width: 40%; min-width: 100px;">

        <div class="nes-field">

            <label for="Titulo">Nombre de la Sala</label>
            <input type="text" maxlength="256" id="Titulo" maxlength="256"
                placeholder="Titulo referencial del contenido" [(ngModel)]="roomName" class="nes-input">
        </div>


        <button class="nes-btn" (click)="transmitir()">Iniciar Transmision</button>

    </div>
</span>
<div class="nes-container rpgui-container framed  is-dark with-title" style="width: 100%; min-width: 100px;"  *ngIf="isLive">
    <span>
        <h1 class="title-psico">Instrucciones</h1>
        <hr>
        Inicia sesion en la ventana que acaba de leventarse:
        <br><img src="/assets/img/paso_transmitir_0.jpg" width="450px" />
        <br>
        Si te aparece esto, inicia como anfitrion (Es porque eres el primero en llegar a la sala):
        <br><img src="/assets/img/paso_transmitir_00.jpg" width="450px" />
        <br>
        Una vez iniciado te encontraras con estas opciones, 
        <br>
         - lo que esta encerrado en un ciruclo <strong style="color:blue">azul</strong>, es para activar el microfono y la camara
         <br>
         - lo que esta encerrado en un ciruclo <strong style="color:red">rojo</strong>, es para compartir pantalla
         <br>
         - lo que esta encerrado en un ciruclo <strong style="color:chartreuse">verde</strong>, tiene opciones, donde la que nos interesa es la de iniciar transmision
         <br><img src="/assets/img/paso_transmitir_000.jpg"  width="450px" />
        <br>
        En la parte inferior de la ventana existen un boton con 3 puntos, al presionarlos deberias ver este menu, donde
        hay que seleccionar la opcion "INICIAR TRANSMISION EN VIVO"
        <br>
        <img src="/assets/img/paso_transmitir_1.jpg" width="450px" />
        <br>
        Aca debemos iniciar sesion con nuestro usuario de gmail y colocar el ID de transmicion de youtube
        <br>
        <img src="/assets/img/paso_transmitir_2.jpg"  width="450px" />
        <br>
        Este se obtiene yendo a la opcion "en directo" y copiando el ID de la transmicion, para luego pegarlo en la
        ventana de la imagen anterior
        <br>
        <img src="/assets/img/paso_transmitir_3.jpg"  width="450px" />
        <br>
        Ahora con estas instrucciones puedes comenzar a transmitir el en vivo, y con el boton de copiar invitacion
        enviarlo a los participantes que quieres que ingresen.
        <hr>
        <button type="button" (click)="copyURL()" class="nes-btn is-error">Copiar invitacion</button>
        <h5>Transmitido desde : {{'https://meet.jit.si/retroMasterTV' + this.user.name + '/' + this.roomName}}</h5>
        
    </span>
</div>