/* START OF FOOTER STYLES */
footer {
  text-align: center;  
  background-image: url(/assets/img/footer.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 128px;
}

footer small span {
  color: #E91E63;
}

/* END OF FOOTER STYLES */