/* START OF FOOTER STYLES */
footer {
  padding: 16px 32px;
  padding-bottom: 64px;
  margin-top: 80px;
  text-align: center;
  background-image: url(/assets/img/footer.jpg) ;
  background-size: 100% 100%;
}

footer small span {
  color: #E91E63;
}

/* END OF FOOTER STYLES */