<span class="row">
    <span class="col-12"><br></span>
    <span class="col-2"></span>
    <span class="col-8">

        <div class="nes-container is-dark with-title">
             <h1 class="title">Bienvenido !!</h1>
            <div style="color:aliceblue">
                Esta comunidad reune a los generadores de contenido mas retro gamers de la historia!!, aqui encontraras
                Trucos,
                videos, gameplays de arcade, consolas clasicas y epicas!, con jugadores expertos y no tanto, pero si
                apasionado
                por los beat'em up, carreras, naves, plataformas etc!!.
            </div>
        </div>
    </span>
    <span class="col-2"></span>
</span>