
@font-face {
    font-family: BIG_ARCADE;
    src: url('/assets/font/ARCADE_I.TTF');
}
@font-face {
    font-family: content_tips;
    src: url('/assets/font/pixeloid.sans-bold.ttf');
}



@font-face {
    font-family: RETRO_TV;
    src: url('/assets/font/Vintage.ttf');
}

@font-face {
    font-family: arcade;
    src: url('/assets/font/ARCADE.TTF');
}

.big_title_retro{
    font-family: BIG_ARCADE;
}

.subtitle{
    font-family:arcade
}

.retro_tv{
    font-family: RETRO_TV;
}

body {
    background-color: black;
    font-family: "Press Start 2P", cursive; 
    font-size: 14px;
}

.mdc-tab__text-label {
    font-family: "Press Start 2P";
    color: #111;
}

.mdc-tab-indicator {
    background-color: #777;
}


.ql-editor {
    font-family: "Press Start 2P";
    width: 100%;
}

.neon{
    text-shadow: 2px 3px 11px #fc12d5;
    color: #fff;
  }

  .neon-white{
    text-shadow: 2px 3px 11px #000;    
  }

  .neon-light{
    text-shadow: 2px 3px 11px #fff;    
  }

.title_team {
    font-family: "BIG_ARCADE" !important;
    color: #FFF !important;
}

.big_title {
    font-family: "BIG_ARCADE" !important;    
}



.mdc-snackbar__label,
.button__label,
.mdc-button__label,
.mdc-snackbar__actions
.tips_content {
    font-family: "Press Start 2P" !important;
}



$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background: #121010;




#switch {
    display: none;
}

.nes-input {
    color: #111;
}

.switch-label {
    display: inline-block;
    cursor: pointer;
    background: #fff;
    color: #111;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px #666;

    &::after {
        content: "on";
    }

    &::before {
        content: " ";
        display: inline-block;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background: #003321;
        margin-right: 10px;
        border: 1px solid #111;
    }

    &:active {
        box-shadow: none;
        transform: translate3d(0, 2px, 0);
    }
}

#switch:checked+.switch-label {
    &::before {
        background: #22ff55;
    }

    &::after {
        content: "off";
    }
}


@keyframes flicker {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(calc(1 / $steps)))} {
            opacity: random();
        }
    }
}

.container {
    background: $screen-background;

    min-width: 98% !important;

    position: relative;

    // flicker
    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparentize($screen-background, 0.9);
        opacity: 0;
        z-index: 2;
        pointer-events: none;
    }

    // scanlines
    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(transparentize($screen-background, 1) 50%, transparentize(darken($screen-background, 10), 0.75) 50%), linear-gradient(90deg, transparentize(#ff0000, 0.94), transparentize(#00ff00, 0.98), transparentize(#0000ff, 0.94));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }
}

#switch:checked~.container::after {
    animation: flicker 0.15s infinite;
}


@keyframes turn-on {
    0% {
        transform: scale(1, 0.8) translate3d(0, 0, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 1;
    }

    3.5% {
        transform: scale(1, 0.8) translate3d(0, 100%, 0);
    }

    3.6% {
        transform: scale(1, 0.8) translate3d(0, -100%, 0);
        opacity: 1;
    }

    9% {
        transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 0;
    }



    11% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(0) brightness(0);
        filter: contrast(0) brightness(0);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
        filter: contrast(1) brightness(1.2) saturate(1.3);
        opacity: 1;
    }
}

@keyframes turn-off {
    0% {
        transform: scale(1, 1.3) translate3d(0, 0, 0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
    }

    60% {
        transform: scale(1.3, 0.001) translate3d(0, 0, 0);
        -webkit-filter: brightness(10);
        filter: brightness(10);
    }

    100% {
        animation-timing-function: $ease-in-quint;
        transform: scale(0.000, 0.0001) translate3d(0, 0, 0);
        -webkit-filter: brightness(50);
        filter: brightness(50);
    }
}

.screen {
    border: none;
}

#switch~.container>.screen {
    animation: turn-off 0.55s $ease-out-quint;
    animation-fill-mode: forwards;
}

#switch:checked~.container>.screen {
    animation: turn-on 4s linear;
    animation-fill-mode: forwards;
}

@keyframes overlay-anim {
    0% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    21% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.overlay {
    color: #00FF00;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    //text-shadow:2px 2px black,-2px -2px black, -2px 2px black, 2px -2px black;
    visibility: hidden;
    pointer-events: none;
}

#switch:checked~.container .overlay {
    animation: overlay-anim 5s linear;
    animation-fill-mode: forwards;
}

  /* Define el estilo base para el texto */
  .title-tips{    
    color: #FFF; /* Color del texto */
    text-shadow: 2px 2px 5px #f700ff; /* Sombra inicial */
    animation: colorChange 8s infinite; /* Aplica la animación */
  }

  /* Define el estilo base para el texto */
  .title-psico{    
    color: #000; /* Color del texto */
    text-shadow: 2px 2px 5px #f700ff; /* Sombra inicial */
    animation: colorChange 8s infinite; /* Aplica la animación */
  }
  
  /* Define la animación */
  @keyframes colorChange {
    0% {
      text-shadow: 2px 2px 5px #ff0000; /* Rojo */
    }
    25% {
      text-shadow: 2px 2px 5px #00ff00; /* Verde */
    }
    50% {
      text-shadow: 2px 2px 5px #0000ff; /* Azul */
    }
    75% {
      text-shadow: 2px 2px 5px #ff00ff; /* Magenta */
    }
    100% {
      text-shadow: 2px 2px 5px #ff0000; /* Volver al Rojo */
    }
  }

  
body {
    --sb-track-color: #000000;
    --sb-thumb-color: #af00ff;
    --sb-size: 24px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 13px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 13px;
    border: 5px solid #edffbc;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  /* Fondo oscuro con un gradiente para un look retro */


button:hover {
    background-color: #00ffff;
    color: #0d0d0d;
    box-shadow: 0 0 6px #00ffff, 0 0 5px #00ffff, 0 0 12px #00ffff;
}



a:hover {
    color: #ff00ff;
    text-shadow: 0 0 4px #ff00ff, 0 0 5px #ff00ff;
}


/* Animación del efecto neón */
@keyframes neonGlow {
    from {
        text-shadow: 0 0 2px #ff00ff, 0 0 20px #ff00ff, 0 0 6px #ff00ff;
    }
    to {
        text-shadow: 0 0 2px #ff00ff, 0 0 40px #ff00ff, 0 0 10px #ff00ff;
    }
}
