<div class="rpgui-content">
    <img width="100%" src="/assets/img/Titulo.png" style="image-rendering: pixelated;" *ngIf="showLogo">
    <!-- simple inputs -->
    <div class="rpgui-container framed " style="width: 98%;">
        <input type="text" [(ngModel)]="query"  name="find" style="background-color: #fff;" >
        <br/><br/>

        <hr class="golden" />
        <button class="rpgui-button" type="button" style="width:100%" (click)="find()"><p>Buscar</p></button>
    </div>
    </div>

<app-mobil-list [search]="query"></app-mobil-list>